<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
            <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/login-style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fontAwesome.css">
<link rel="stylesheet" href="../static/css/light-box.css">
    <link rel="stylesheet" href="../static/css/templatemo-style.css">
        <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
        <link href="http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css" rel="stylesheet">
    <style>
        .jg{font-family: 'Jeju Gothic', sans-serif;}
        .nb{font-family: 'Nanum Brush Script', cursive;}
    </style>
<script>
document.addEventListener('click', musicPlay);
function musicPlay() {
    document.getElementById('ID').play();
    document.removeEventListener('click', musicPlay);
}
</script>
    <title>MODULE PROJECT</title>
</head>
<body>

 <nav>
        <div class="logo">
            <a  class="jg">☁ 날씨기반 음악추천 시스템</a>
        </div>
        <div class="menu-icon">
        <span></span>
      </div>
    </nav>
    <main>
        <div class="background">


            <div class="text">
                <h1 class="nb" style="position: absolute; left: 830px; top: 180px;" >오늘날씨,<br>&nbsp;어떤가요♪</h1>

                &nbsp;<form class= form method="POST" style="position: absolute; left: 850px; top:430px;" >
                    <input type="text" class="username" id="uname" name = 'uname' placeholder="Username" required>
                    <input type="password" class="password"  id='passw' name="passw" placeholder="Password" required>
                    <button type="submit" class="button"><h5 class="jg">로그인</h5></button>
                </form>
                            </div>
        </div>
            </div>
        </div>
    </main>

  <section class="overlay-menu">
      <div class="container">
        <div class="row">
          <div class="main-menu">
              <ul>
                  <li>
                      <a href="guest" class="jg">☀ 게스트(GUEST)</a>
                  </li>
                  <li>
                      <a href="signup" class="jg">☂ 회원가입(REGISTER)</a>
                  </li>
              </ul>

          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="../static/js/vendor/bootstrap.min.js"></script>

    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

<audio id="ID" autoplay loop>
    <source src="../static/main.mp3" type="audio/mp3">
</audio>

</body>
</html>